

// BORDER RADIUS
$brand-br: .25rem;
$border-radius-xsm: .15rem;
$border-radius-sm: .25rem;
$border-radius-md: .5rem;
$border-radius-lg: 1rem;
$border-radius-xlg: 50%;
// SPAN AND BRAND




// text-shadows
$text-shadow-red: #dc143c;
$text-shadow-sm: 1px 1px 1px #000;
// BOX SHADOWS
$box-shadow-item-sm: .125rem .25rem .25rem rgba(0, 0, 0, 0.133);
$box-shadow-item-md: 0rem .5rem 1rem rgba(0, 0, 0, .1);
$box-light-top-sm: inset 2px 2px 3px rgba(225, 225, 225, .05),
                    inset -2px -2px 3px rgba(0, 0, 0, .150),
                    .025rem .25rem .5rem rgba(0, 0, 0, .150);

$box-light-top-sm-hover: inset 2px 2px 3px rgba(0, 0, 0, .200),
                    inset -2px -2px 3px rgba(225, 225, 225, 0.2),
                    .025rem .225rem .25rem rgba(0, 0, 0, .250);

$box-light-top-bg: inset 4px 4px 5px rgba(221, 221, 221, 0.500),
                    inset -4px -4px 5px rgba(0, 0, 0, .200);

$box-dark-top-sm: inset 2px 2px 3px rgba(0, 0, 0, 0.200),
                    inset -2px -2px 2px rgba(221, 221, 221, 0.300),
                    3px 3px 3px rgba(0, 0, 0, .200);

$box-dark-top-bg: inset 4px 4px 5px rgba(0, 0, 0, .200),
                    inset -4px -4px 5px rgba(221, 221, 221, 0.500);

$box-dark-top-md: inset 3px 3px 4px rgba(0, 0, 0, .200),
                    inset -3px -3px 4px rgba(221, 221, 221, 0.500);
                    
$box-light-top-md: inset 3px 3px 4px rgba(221, 221, 221, 0.150),
                    inset -3px -3px 4px rgba(0, 0, 0, .150),
                    5px 5px 3px rgba(0, 0, 0, .150);

$box-light-top-lg: inset 5px 5px 5px rgba(221, 221, 221, 0.500)
                    inset -10px -10px 10px rgba(0, 0, 0, .200);
$text-shadow-lg: 2px 2px 2px #000;