@use '../abstracts';
// ABOUT SECTION
.about {
    min-height: 70vh;
    padding: 10vh 5vw;
    background-color: #f0f0f0;
    background-color: abstracts.$main-background;

    @media (prefers-color-scheme: dark){
        background-color: #333;
    }



    article {

        p {
            margin-bottom: 1rem;
            &:first-letter {
                text-transform: capitalize;
            }
            // &::after {
            //     content: '.';
            // }
        }

        a {
            display: block;
            color: abstracts.$brand;
            text-transform: capitalize;
            text-decoration-color: inherit;

            &:hover {
                color: abstracts.$brand-light;
                text-decoration-color: transparent;
            }

            @media (prefers-color-scheme: dark){
                color: abstracts.$brand-light;
            }
        }

    }
}





