@use '../abstracts';
// ABOUT SECTION
.about {
    padding: 10vh 5vw;
    background-color: #f0f0f0;
    background-color: abstracts.$main-background;

    @media (prefers-color-scheme: dark){
        background-color: #333;
    }



    article {
        // border: 2px solid red;
        position: relative;
        isolation: isolate;
        overflow: hidden;
        p {
            margin-bottom: 1rem;
            max-width: 600px;
            &:first-letter {
                text-transform: capitalize;
            }
        }

        a {
            display: block;
            color: abstracts.$brand;
            text-transform: capitalize;
            text-decoration-color: inherit;

            &:hover {
                color: abstracts.$brand-light;
                text-decoration-color: transparent;
            }

            @media (prefers-color-scheme: dark){
                color: abstracts.$brand-light;
            }
        }

        // DECORATION
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: -25%;
            right: 0%;
            width: 10rem;
            height: 20rem;
            transform: rotate(40deg);
            border: 2px solid green;
            background: #ddd;
            border-radius: 50%;
            z-index: -1;
            opacity: 0.125;
            
            
        }

        @include abstracts.md {

            background-image: url('/img/hero-3.jpg');
            background-repeat: no-repeat;
            background-position: right;
            background-attachment: fixed;
            background-size: 50%;
            

            &::after {
                display: none;
            }
        }


    }
}





