@use '../abstracts';
// FOOTER
#footer {
    background: abstracts.$overlay-blue-darkest;
    background: abstracts.$brand;
    background: #eee;
    padding: 0 0 5vh 0;
    .footer {
        min-height: 100vh;
        width: 100%;
        color: #eee;
        @media (min-width: 1024px) {
            padding: 10vh 5vw 5vh;
        }
        // SECTION-TITLE
        .footer-section-title {
                // color: #fff000;
                text-transform: capitalize;
                margin-bottom: 10vh;
                font-size: 2rem;
                font-size: clamp(2rem, 4vw, 2.25rem);
        }

        
        
        // WEBSITE FOOTER
        .footer-bottom {
            scroll-margin-top: 5vh;
            padding: 5vh 5vw;
            display: flex;
            flex-direction: column;
            gap: 5vh;
            color: darkgreen;
            @include abstracts.xlg {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                align-items: flex-start;
                padding: 5vh 0 0;
                gap: 1rem;
            }
            img {
                width: 12rem;
                height: 100%;
                border-radius: abstracts.$border-radius-sm;
                @include abstracts.lg {
                    width: 15rem;
                    padding-top: 0;
                }
            }

            .icon {
                width: 1rem;
            }
            
            .footer-item {
                flex-grow: 1;
                h3 {
                    text-transform: capitalize;
                    margin-bottom: 1rem;
                }
                .date {
                    // color: abstracts.$brand;
                }

                p {
                    // color: abstracts.$text-light;
                    color: green;
                    text-transform: capitalize;
                    line-height: 1.6;
                }
                .footer-list {
                    list-style: none;
                    li {
                        margin-bottom: .5rem;

                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        i {
                            // width: 1.5rem;
                            color: abstracts.$brand;
                            transition: .25s;
                        }
                        a {
                            color: abstracts.$text-light;
                            color: green;
                            transition: .25s;
                        }

                        .icon {
                            opacity: 0.7;
                        }
                        
                        &:hover {
                            a {
                                color: abstracts.$brand;
                            }
                            i {
                                color: abstracts.$text-light;
                                transform: translateX(.25rem);
                            }

                            .icon {
                                transform: translateX(.25rem);
                                opacity: 1;
                            }
                        }
                    }
                    &.browse-list {
                        text-transform: capitalize;
                    }
                }

            }
        }
    }
}
