@use '../abstracts';
// WEBSITE HEADER
// .HEADER = LOGO + NAV[DESKTOP LIST & MOBILE SIDEBAR]
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: abstracts.$header-height;
    padding: 0.125rem 0;
    isolation: isolate;
    transition: .25s;
    z-index: 10;

    @include abstracts.md {
        height: 8vh;
    }

    // PSEUDO BACKGROUND COLOR
    // BG = TRANSPARENT WHEN HERO = INTERSECTING
    // BG = DARKEST WHEN SIDEBAR = ACTIVE
    &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        background-color: #fffa;
        box-shadow: 0rem .5rem 1rem transparent;
        z-index: -1;
        transition: background-color .15s, box-shadow 1s;
    }

}

// NAV = LOGO + NAV-LIST
#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0.5rem 5vw;
    z-index: 5;

    // HEADER LOGO
    // LOGO = LINK(A) WITH EMBEDDED P{+span($brand)}
    .logo {
        transition: 1s ease;
        // background-color: abstracts.$overlay-blue-black;
        background-color: abstracts.$brand;
        background-color: #ffff;
        border-radius: abstracts.$border-radius-sm;
        border: 1px solid #fff;
        border: 1px solid abstracts.$brand;
        a {
            padding: 0.125rem 0.25rem;
            display: block;
        }
        p {
            color: abstracts.$text-light;
            color: abstracts.$brand;
            font-weight: 600;
            font-size: 0.75rem;
            font-size: clamp(0.85rem, 1.25vw, 1rem);
            text-transform: capitalize;
            transition: 500ms;

            span {
                // color: abstracts.$brand;
            }

        }
    }

    // NAV-LIST = ASIDE ON SMALL SCREENS AND ROW LIST ON WIDER SCREENS
    .nav-list {

        ul {
            transition: .5s;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: abstracts.$nav-links;
                    text-transform: capitalize;
                    display: block;
                    font-weight: 400;
                    // font-family: abstracts.$font-content;
                }


            }
        }

        // MOBILE NAV CONTAINER
        .links-container {
            @media (max-width: 820px) {
                position: absolute;
                top: 7vh;
                top: abstracts.$header-height;
                left: 100%;
                width: 100vw;
                height: 100vh;
                background-color: abstracts.$overlay-blue-black;
                background-color: abstracts.$brand-dark;
                color: abstracts.$nav-links;
                transition: .5s ease;
                z-index: 5;
                

                ul {
                    margin: 1rem 15vw 1rem 5vw;
                    padding: 1rem 0.5rem;
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    gap: 0.75rem;

                    border-radius: abstracts.$border-radius-sm;
                    transition: 0.5s ease left;
                    position: relative;
                    z-index: 1;
                    overflow: hidden;

                    li {
                        transition: 0.5s;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        border-bottom: 1px solid transparent;
                        width: 100%;
                        // background: linear-gradient(90deg, abstracts.$overlay-blue-darkest 10%, transparent 15%);
                        transform: translateX(1.5rem);
                        opacity: 0;
                        
                        // LINKS = SAME FONTS AS SECTION TITLES
                        a {
                            position: relative;
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                            color: abstracts.$aside-nav-links;

                            width: 100%;
                            padding-bottom: 0.5rem;

                            font-size: 1rem;
                            font-weight: 500;
                            text-transform: capitalize;
                            
                            transition: 500ms;
                            cursor: default;

                            // LINK HOVER EFFECT
                            &::after {
                                content: attr(data-after);
                                position: absolute;
                                top: 30%;
                                left: 60%;
                                transform: translate(-50%, -50%) scale(0);
                                color: #f0f8ff1a;
                                font-size: 2.5rem;
                                letter-spacing: 1rem;
                                z-index: -1;
                                transition: 350ms ease letter-spacing;
                            }

                            &.active {
                                color: abstracts.$brand;
                                color: abstracts.$text-light;
                                border-bottom: 1px solid abstracts.$text-light;
                                .icon {
                                    opacity: 1;
                                }
                            }
                        }


                        .icon {
                            border-radius: 0.25rem;
                            position: relative;
                            opacity: 0.4;
                        }


                        
                        // LIST ITEM HOVER 
                        &:hover {
                            a {
                                color: abstracts.$brand;
                                transition: .25s;

                                &::after {
                                    transform: translate(-50%, -50%) scale(1);
                                    letter-spacing: initial;
                                }

                                i {
                                    color: abstracts.$brand;
                                }
                            }
                        }

                    }

                }

                // CONTACT LINKS
                .contact-links {
                    background: abstracts.$overlay-blue-darker;
                    background: abstracts.$brand;
                    margin: 0 15vw 0 5vw;
                    padding: 1rem 0.5rem;

                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    border-radius: abstracts.$border-radius-sm;

                    a {
                        opacity: 0;
                        transform: translateY(1rem);
                        font-size: 1rem;
                        cursor: default;
                        transition: .5s;
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        color: abstracts.$aside-contact-links;

                        span {
                            height: 1rem;
                            border-right: 1px solid abstracts.$brand;
                            transition: 250ms;
                        }

                        .icon {
                            opacity: 0.8;
                        }


                        &:hover {
                            .icon {
                                opacity: 1;
                            }
                            
                            span {
                                opacity: 0.2;
                            }
                        }
                        
                    }

                }

                // ACTIVE ASIDE = TRANSITION INTO VIEW - LEFT = 0
                &.active {
                    left: 0;

                    // LOGO TRANSITIONS INTO VIEW - OPACITY AND TRANSFORM
                    .nav-logo {
                        transition: 1.5s;
                        opacity: 1;
                        transform: translateX(0);
                    }
                    // PAGE LINKS LI TRANSITIONS INTO VIEW 
                    ul {
                        // LI TRANSITIONS INTO VIEW - TRANSLATE-X(0)
                        li {
                            // transition: 0.5s;
                            opacity: 1;
                            // LINKS OPACITY = 1 AND TRANSLATE = 0  
                            transform: translateX(0);
                            
                            // LI ITEMS HAVE DELAYED TRANSITIONS
                            &:nth-child(1) {
                                transition-delay: .3s;
                            }

                            &:nth-child(2) {
                                transition-delay: .35s;
                            }

                            &:nth-child(3) {
                                transition-delay: .4s;
                            }

                            &:nth-child(4) {
                                transition-delay: .45s;
                            }

                            &:nth-child(5) {
                                transition-delay: .5s;
                            }

                            &:nth-child(6) {
                                transition-delay: .55s;
                            }

                            &:nth-child(7) {
                                transition-delay: .6s;
                            }
                        }
                    }

                    // CONTACT LINKS
                    // A LINKS TRANSITION INTO VIEW WITH DELAYED TIMING
                    .contact-links {
                        a {
                            opacity: 1;
                            transform: translateY(0);

                            &:nth-child(1) {
                                transition-delay: .6s;
                            }

                            &:nth-child(2) {
                                transition-delay: .65s;
                            }

                            &:nth-child(3) {
                                transition-delay: .7s;
                            }

                            &:nth-child(4) {
                                transition-delay: .75s;
                            }

                            &:hover {
                                i {
                                    transition: .25s;
                                    color: abstracts.$brand;
                                    border-right-color: abstracts.$span-crimson;
                                    border-right-color: transparent;
                                    transform: translateX(.25rem);
                                }
                            }
                        }
                    }
                }

            }

        }

        // DESKTOP NAV LIST
        @media (min-width: 820px) {
            // padding: 0;

            // HIDE LOGO AND HAMBURGER ON DESKTOP
            .nav-logo {
                display: none;
            }

            .hamburger {
                display: none;
            }

            ul {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 1rem;
                background-color: transparent;

                li {
                    position: relative;
                    
                    // PSEUDO UNDERLINE
                    &::before {
                        position: absolute;
                        content: '';
                        bottom: -0.25rem;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0%;
                        height: 2px;
                        background-color: abstracts.$brand;
                        transition: 250ms ease;
                    }

                    a {
                        font-size: 0.95rem;
                        font-size: clamp(0.95rem, 1.125vw, 1rem);
                        padding: 0.25rem;
                        margin: 0 auto;
                        display: block;
                        letter-spacing: normal;
                        float: left;
                        transition: 250ms;

                        // TURN OFF DISPLAY OF DATA-AFTER TEXT ON BIGGER SCREENS THATS VISIBLE IN SIDEBAR LINK HOVER
                        &::after {
                            display: none;
                        }

                        

                        &.active {
                            // color: abstracts.$brand;

                            &::before {
                                width: 50%;
                                opacity: 1;
                            }
                        }
                    }

                    // SWITCH OFF DISPLAY OF ICONS USED IN SIDEBAR NAV
                    i, .icon {
                        display: none;
                    }

                    // UNDERLINE TRANSITION OUT IN LI HOVER
                    &:hover {
                        color: abstracts.$brand;

                        &::before {
                            width: 50%;
                            opacity: 1;
                        }
                    }

                    // WEBSITE ACTIVE PAGE STYLE = $BRAND COLOR 
                    &.active {
                        a {
                            color: abstracts.$span-gold;
                        }
                    }
                }

                &.active {
                    background: none;
                    box-shadow: none;
                }
            }

            // SWITCH OFF DISPLAY OF CONTACT ITEMS VISIBLE IN SIDEBAR NAV
            .contact-links {
                display: none;
            }

        }
    }
    
}

// INTERSECTION CLASS
// TRANSPARENT BACKGROUND + NO LOGO ON HERO SECTION
.hero-header {
    &::after {
        background: transparent;
        background: #fff5;
        box-shadow: 0rem 1rem 1rem transparent;
        transition: 0;

        @media (prefers-color-scheme: dark){
            background-color: #0001;
        }
    }

    // NAVBAR LOGO TRANSITIONS OUT OF VIEW ON HERO SECTION
    #nav {
        .logo {
            transform: translateY(-10vh);
        }
    }
}

// MAIN SECTION HEADER IO
.header-io {
    &::after {
        opacity: 1;
        background: abstracts.$brand;
        background: #fafafa;
        box-shadow: 0rem .5rem .5rem rgba(41, 50, 60, .025);
    
        @media (prefers-color-scheme: dark){
            background-color: #222;
        }
    }

    #nav {
        .logo {
            opacity: 1;
            transform: translateY(0);
            transition: 1s;
        }


    }

    // DARK HEADER BACKGROUND WHEN SIDEBAR VISIBLE
    &.active-header {

        // &::after {
        //     background: abstracts.$overlay-blue-darkest;
        // }
        #nav {
            .logo {
                transform: translateY(0);
            }
        }
    }
}