/* LOADER SCREEN */
.loader_bg {
    position: fixed;
    inset: 0;
    background: hsl(213, 18%, 10%);
    text-align: center;
    color: #f4f4f4;
    display: grid;
    place-items: center;
    isolation: isolate;
    z-index: 100;
  }

  .box {
    width: 100%;
    height: 4rem;
    margin-inline: auto;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;

  }

  .inbox {
    border: .15rem solid transparent;
    width: 25%;
    height: 100%;
    margin-inline: auto;
    position: relative;
  }

  .inbox.inbox-1 {
    border-width: .25rem;
    border-top-color: hsl(209, 20%, 75%);
    border-left-color: hsl(209, 20%, 75%);
    border-bottom-color: hsl(209, 20%, 75%);
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    animation: box-1 1.25s ease forwards 1s;
    opacity: 0;
  }

  .inbox.inbox-2 {
    border-color: transparent;
    border-top-color: #f4f4f4;
    border-right-color: #f4f4f4;
    border-bottom-color: #f4f4f4;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    transform: translateX(.25rem) translateY(-.25rem);
    animation: box-2 1.25s ease forwards 1.05s;
    opacity: 0;
  }

  .loader_bg .title {
    position: relative;
  }

  .loader_bg .title::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 100%;
    height: .125rem;
    background: linear-gradient(90deg, transparent, hsl(209, 20%, 75%), transparent);
    animation: underline 2.5s ease forwards 1.25s;
    opacity: 0;
  }

  .loader_bg .title h1 {
    margin-bottom: .5rem;
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    /* gap: 1rem; */
    animation: title-h1 1.25s forwards 1.75s;
    /* opacity: 0; */
  }

  .loader_bg .title h1 span {
    color: hsl(209, 20%, 75%);
  }

  .loader_bg .title p {
    text-transform: uppercase;
    color: hsl(209, 20%, 75%);
    letter-spacing: .25rem;
    /* animation: title-p 1.25s forwards 2.25s; */
    /* opacity: 0; */
  }

  /* @keyframes title-h1 {
    0% {
      opacity: 0;
      gap: 1rem;
    }

    100% {
      gap: 0;
      opacity: 1;
    }
  } */

  @keyframes title-p {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
      letter-spacing: normal;
    }
  }

  @keyframes underline {
    0% {
      transform: scaleX(0);
    }

    100% {
      transform: scaleX(1);
      opacity: 1;
    }
  }

  @keyframes box-1 {
    0% {
      transform: translateX(-.5rem);
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes box-2 {
    0% {
      transform: translateX(.5rem) translateY(-.25rem);
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }