@use '../abstracts';

html {
    scroll-behavior: smooth;
    // font-family: abstracts.$font-content;
    font-family: 'Content', sans-serif;
}

body {
    color: abstracts.$overlay-blue-darker;
    max-width: 100%;
    img {
        display: block;
        max-width: 100%;
    }
    
    a {
        color: inherit;
        text-decoration: underline transparent;
        text-underline-offset: 2px;
        transition: 350ms;
    }

    h1, h2, h3, h4, h5, h6 {
        text-transform: capitalize;
        text-wrap: balance;
    }
    
    
    p {
        font-size: 1rem;
        font-size: abstracts.$font-clamp-xsm;
        font-weight: 400;
        line-height: 1.6;
        text-wrap: pretty;
    }

    .icon {
        width: 1.025rem;
        height: auto;
        transition: 0.25s;
    }
}


main {
    scroll-margin-top: 5vh;
}

section {
    width: 100%;

    .section-title {
        font-size: 2rem;
        font-size: abstracts.$font-clamp-md;
        font-size: clamp(1.5rem, 4vw, 2.5rem);


        margin-bottom: 5vh;
        text-transform: uppercase;
        position: relative;
        line-height: 1.4;
        // -webkit-box-reflect: below -.9rem linear-gradient(transparent, #0003);

        // &:after {
        //     content: attr(data-after);
        //     transition: 250ms;
        //     color: abstracts.$brand;
        // }

        span {
            color: abstracts.$brand;
            display: block;
            font-weight: 500;
            font-size: 1.25rem;
            font-size: abstracts.$font-clamp-md;
        }

        &.io-item {
            &::after {
                letter-spacing: 0.125rem;
            }
        }

        &.active-item {
            &::after {
                letter-spacing: normal;
                transition: 1000ms ease;
            }
        }

    }
}

.intro {
    background: linear-gradient(130deg, #fafafa 50%, hsl(0, 0%, 94%) 70%);
    padding: 5vh 5vw;
    min-height: 50vh;
    p {
        font-size: 2rem;
        text-transform: capitalize;
        span {
            color: darkgreen;
        }
    }

}


// THANK YOU PAGE

#thanks {
    .home-link {
            color: abstracts.$text-light;
            margin: 5vh 0;
            display: block;

            i {
                color: abstracts.$brand;
                font-size: 1rem;
                margin-right: .5rem;
            }
    }
}

// END OF THANK YOU PAGE